<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liga.repository.WaiterOrderMapper">

    <resultMap id="WaiterOrderDto" type="com.liga.dto.WaiterOrderDto" autoMapping="true">
        <result column="order_no" property="id"/>
        <result column="status" property="status"/>
        <result column="create_dttm" property="createDttm"/>
        <result column="waiter_id" property="waiterId"/>
        <result column="table_no" property="tableNo"/>
    </resultMap>

    <select id="getById" resultMap="WaiterOrderDto">
        SELECT order_no, status, create_dttm, waiter_id, table_no
        FROM waiter_order
        WHERE order_no = #{id,jdbcType=BIGINT}
    </select>

    <resultMap id="listWaiterOrderDto" type="com.liga.dto.WaiterOrderDto" autoMapping="true">
        <result column="order_no" property="id"/>
        <result column="status" property="status"/>
        <result column="create_dttm" property="createDttm"/>
        <result column="waiter_id" property="waiterId"/>
        <result column="table_no" property="tableNo"/>
    </resultMap>

    <select id="getAll" resultMap="listWaiterOrderDto">
        select order_no, status, create_dttm, waiter_id, table_no
        FROM waiter_order
    </select>

    <insert id="create"
            parameterType="com.liga.dto.WaiterOrderDto"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into waiter_order (order_no, status, create_dttm, waiter_id, table_no)
        VALUES (nextval('waiter_order_sequence'), #{status}, #{createDttm,jdbcType=TIMESTAMP_WITH_TIMEZONE},
                #{waiterId}, #{tableNo})
    </insert>

    <resultMap id="OrderStatusDto" type="com.liga.dto.WaiterOrderStatusDto">
        <result column="status" property="status"/>
    </resultMap>

    <select id="getOrderStatus" resultMap="OrderStatusDto">
        select status
        from waiter_order
        where order_no = #{id}
    </select>

    <update id="updateStatusOrder"
            parameterType="com.liga.dto.WaiterOrderDto">
        UPDATE waiter_order
        SET
        status = #{order.status}
        WHERE order_no = #{order.id}
    </update>


</mapper>

